
*.dll
*.lib
*.stash
*.user
CModule/MyTableView/Makefile
*.Release
*.Debug
CModule/Makefile
*.pdb
CModule/GoogleTest/Makefile
CModule/GoogleTest/QtClass/debug/QtClass.exe
CModule/GoogleTest/QtClass/Makefile
CModule/GoogleTest/UnitTest/debug/UnitTest.exe
CModule/GoogleTest/UnitTest/Makefile
CModule/QtTestFramWork/Makefile
CModule/QtTestFramWork/QMLTest/debug/QMLTest.ilk
CModule/QtTestFramWork/QMLTest/debug/QMLTest.exe
CModule/QtTestFramWork/QMLTest/debug/tmp/main.obj
CModule/QtTestFramWork/QMLTest/Makefile
CModule/QtTestFramWork/QtNoGuiTest/debug/QtNoGuiTest.exe
CModule/QtTestFramWork/QtNoGuiTest/Makefile
*.obj
*.ilk
*.exe
CModule/SqlDemo/Makefile
CModule/SqlDemo/debug/moc_predefs.h
CModule/SqlDemo/debug/moc_CSqlLite.cpp
CModule/SqlDemo/debug/moc_CDataBase.cpp
*.dmp
build-CModule-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/Makefile
Makefile
*.user*
*qrc_qml.cpp
*_qml.cpp
*qmlcache*
*moc*
*.mp4
*_js.cpp
CModule/FileAutoBackup/222222222222222*
*.autosave
*.bin
